
# Github actions file for checking the build of HoTT-intro/Agda on Ubuntu and macOS 
name: Ubuntu / macOS

# We trigger this action on pushes to the repo and on pull_requests
on:
  - push
  - pull_request

jobs:
  build:
    strategy:
      # We don't stop other jobs from finishing if one fails
      fail-fast: false

      matrix:
        # We test on ubuntu-latest and macos-latest
        # this might need to be modified if we also want to test windows also
        include:
            # Operating system
          - os: ubuntu-latest
            # Package manger
            pm: "sudo apt-get"
            # Package manager flags
            pm-flags: "-y" # We need to tell apt-get "yes" when it prompts
            
          - os: macos-latest
            pm: "brew"
            

    # Run on an entry in the os coloumn of the matrix
    runs-on: ${{ matrix.os }}

    # Steps of this action
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Update package listings
        run: ${{ matrix.pm }} update

      - name: Install cabal-install
        run: ${{ matrix.pm }} install ${{ matrix.flags }} cabal-install

        # Caching the ~/.cabal directory allows us to reuse previous cabal builds
        # Notably it means we don't have to build agda everytime saving around 1 hour of time
      - name: Cache ~/.cabal
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cabal
          # We cache each os sperately
          key: ${{ matrix.os }}

        # If we have not already cached update cabal listings
      - name: Update cabal listings
        if: steps.cache.outputs.cache-hit != 'true'
        run: cabal update

        # If we have not already cached install alex and happy
      - name: Install alex and happy with cabal
        if: steps.cache.outputs.cache-hit != 'true'
        run: cabal install alex happy

        # If we have not already cached install agda
      - name: Install Agda with cabal
        if: steps.cache.outputs.cache-hit != 'true'
        run: cabal install Agda-2.6.1.3
      
      - name: Build book
        run: ~/.cabal/bin/agda book.agda
